@tailwind base;
@tailwind components;
@tailwind utilities;

#viewport {
  background: linear-gradient(
    170.9deg,
    rgb(0, 110, 178) -93.1%,
    rgb(36, 5, 71) 100%
  );
  background-attachment: fixed;
}

@layer base {
  html {
    @apply m-0 p-0 overflow-x-hidden;
  }
  body {
    @apply bg-fixed;
  }
  h1,
  h2,
  h3,
  h5,
  p {
    font-family: 'Comfortaa', sans-serif;
  }
}
